body { background: #aaee6e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-uploader-0 { color: #a978fa; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #62a03d; font-size: 13px; margin-bottom: 5px; }
.block-user-2 { color: #2ada08; font-size: 14px; margin-bottom: 5px; }
.block-config-3 { color: #12f611; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #a2646e; font-size: 18px; margin-bottom: 5px; }
.block-user-5 { color: #d9e45b; font-size: 18px; margin-bottom: 5px; }
.block-email-6 { color: #df443e; font-size: 17px; margin-bottom: 5px; }
.block-helper-7 { color: #3e57ec; font-size: 15px; margin-bottom: 5px; }